/* =============
    section-3
============= */

#section-3{
    aside{
        img{
            width: 100%;
        }
        // @include lg{
        //     img{
        //         width: 50%;
        //     }
        // }
    }
 @include lg{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
    "aside section-3-container";
 }

    #section-3-container{
        display: grid;
        grid-template-columns: 15px auto 15px;
        grid-template-areas: ". section-3 .";

        @include md{
            grid-template-columns: 8% auto 8%;
        }

        #section-3-content{
            grid-area: section-3;
        }
    }
}